@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(197, 192, 192, 0.212);
  font-family: 'Raleway', sans-serif;
}

#main {
  background-color: rgba(197, 192, 192, 0.212);
  text-align: justify;
  border-radius: 10px;
  width: 900px;
  padding: 10px 10px 10px 10px;
}
#title {
  text-align: center;
  text-decoration: underline;
}
#image {
  display: block;
  max-width: 100%;
  margin: 50px auto;
}
#img-caption {
  background-color: steelblue;
  font-size: 14px;
  color: #fff;
  padding: 10px;
  width: 100%;
}
#tribute-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
#biografia-info {
  width: 800px;
}

#tribute-link {
  padding: 10px;
  border-radius: 5px;
  background-color: steelblue;
  color: #fff;
}

@media screen and (max-width: 800px) {
  #main {
    width: 550px;
  }
  #image {
    max-width: 500px;
  }
  #biografia-info {
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  #main {
    width: 350px;
  }
  #image {
    max-width: 300px;
  }
  #biografia-info {
    width: 300px;
  }
  #img-caption {
    font-size: 12px;
  }
}
