body {
  background-image: url('../assets/header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  margin: 0%;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.445);
  position: relative;
  color: #fff;
  padding: 10px;
  z-index: 100%;
  margin-bottom: 10px;
}

h1,
p {
  text-align: center;
}

#title {
  font-size: 38px;
  font-weight: 700;
}

p {
  font-size: 24px;
  text-decoration-line: underline;
}

fieldset {
  width: 600px;
  margin: auto;
  font-size: 20px;
  background-color: rgba(231, 231, 231, 0.945);
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 5px 10px 18px 5px rgba(0, 0, 255, 0.295);
}

input[type='text'],
input[type='email'],
input[type='number'],
#dropdown {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 14px;
  border: 2px solid blue;
  border-radius: 4px;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 700;
  width: 500px;
  margin: 50px auto;
}

#submit {
  width: 150px;
  height: 50px;
  margin: auto;
  background-color: rgb(8, 31, 240);
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
}

#submit:hover {
  background-color: rgba(8, 31, 240, 0.945);
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  input[type='text'],
  input[type='email'],
  input[type='number'],
  #dropdown {
    width: 90%;
  }

  fieldset {
    width: 450px;
  }

  form {
    width: 350px;
  }

  p {
    font-size: 18px;
  }

  label {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-size: 100% 100%;
  }

  input[type='text'],
  input[type='email'],
  input[type='number'],
  #dropdown {
    width: 90%;
  }

  fieldset {
    width: 300px;
  }

  form {
    width: 200px;
  }

  p {
    font-size: 18px;
  }

  label {
    font-size: 18px;
  }
}
